<!--rgba(234, 20, 29, 0.5), rgba(81, 173, 218, 0.9)-->
<!--rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25), url("../static/img/bg2.jpg")-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LU-EXPLORE</title>
        <link rel="icon" type="image/x-icon" href="static/MYLOGO.jpg" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/style.css" rel="stylesheet" />
    </head>
    <body style="background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../static/img/bg3.jpg');">
<!--        <header>-->
<!--            <h1 class="site-heading text-center text-faded d-none d-lg-block">-->
<!--                <span class="site-heading-upper text-primary mb-3">A Free Bootstrap Business Theme</span>-->
<!--                <span class="site-heading-lower">Business Casual</span>-->
<!--            </h1>-->
<!--        </header>-->
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">LU-EXPLORE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/">Home</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="properties.html">LU-PROPERTIES</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="news.html">LU-NEWS</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="itinerary.html">LU-ITINERARY</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="food.html">LU-FOOD</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <div class="intro-text left-0 text-center bg-faded p-5 " style="border-radius: 25px;">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">REGRESSION</span>
                            <span class="section-heading-lower">LU-PROPERTIES</span>
                        </h2>
                        <p class="mb-3">In this project, I utilized Selenium to collect real estate data from Luxembourgian websites. After extensive data cleaning and feature engineering on 1000+ properties, I explored diverse regression techniques. Meticulous hyperparameter tuning helped identify top-performing models. Leveraging advanced ensemble methods such as StackedRegressor and Voting Regressor, I amalgamated model outputs for highly precise housing price predictions. This comprehensive approach ensures robust pricing estimates, optimizing predictive accuracy for real-world applications.
                        </p>
                        <div class="intro-button"><a class="btn btn-primary btn-xl" href="properties.html">Explore!</a></div>
                    </div>
                    <img class="intro-img img-fluid mb-3 mb-lg-0" src="static/img/intro2.jpg" alt="..." style="border-radius: 25px;"/>
                </div>
            </div>
        </section>
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img2 img-fluid mb-3 mb-lg-0" src="static/img/intro3.jpg" alt="..." style="border-radius: 25px;"/>
                    <div class="intro-text2 left-10 text-center bg-faded p-5" style="border-radius: 25px;">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">SENTIMENT ANALYSIS</span>
                            <span class="section-heading-lower">LU-NEWS</span>
                        </h2>
                        <p class="mb-3">In this project, I harnessed Selenium for web scraping, gathering 500+ recent news articles from Luxembourg. This dataset, including titles and descriptions, was pivotal for evaluating various sentiment analysis methods, from conventional machine learning to deep learning models. Similar to the regression task, I conducted sentiment analysis on both title and description sections independently, measuring sentiment intensity. Then, employing a comprehensive approach, I aggregated these scores to provide a nuanced portrayal of the news content.</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="news.html">Explore!</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0" src="static/img/intro4.jpg" alt="..." style="border-radius: 25px;"/>
                    <div class="intro-text left-0 text-center bg-faded p-5" style="border-radius: 25px;">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">RECOMMENDATION</span>
                            <span class="section-heading-lower">LU-ITINERARY</span>
                        </h2>
                        <p class="mb-3">In this project, I meticulously gathered data on Luxembourg's top museums, galleries, attractions, landmarks, and parks, including Google ratings and brief descriptions. Utilizing this dataset, I devised an itinerary generator employing a sophisticated algorithm to match user preferences with destination attributes. Tailoring the itinerary to the user's travel duration, I optimized for diversity and coherence, considering practical constraints. The itinerary also incorporates breaks for meals and leisurely dinners, ensuring a balanced travel experience.</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="itinerary.html">Explore!</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img2 img-fluid mb-3 mb-lg-0" src="static/img/intro5.jpg" alt="..." style="border-radius: 25px;">
                    <div class="intro-text2 left-10 text-center bg-faded p-5" style="border-radius: 25px;">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">CLASSIFICATION</span>
                            <span class="section-heading-lower">LU-FOOD</span>
                        </h2>
                        <p class="mb-3">In this project, I curated a dataset of the top 7 Luxembourgish dishes, facing challenges due to limited imagery. Using this dataset, I developed a sophisticated food recognition system with the VGGNet Model. Additionally, I designed a complex Mixed model to extract key features for accurate dish identification. As an innovative addition, the system provides users with dish recognition, concise descriptions, and recipes, aiming to enhance awareness and appreciation of Luxembourgish cuisine and inspire further exploration in related domains.</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="food.html">Explore!</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Responsibility & Accountability</span>
                                <span class="section-heading-lower">DISCLAIMER</span>
                            </h2>
                            <p class="mb-0">The projects showcased, encompassing house price prediction, news sentiment
                                an</p>
                            <p class="mb-0">alyses, itinerary generation, and food image classification, serve
                                exclusively as educational and research endeavors within the realms of machine learning,
                                deep learning, and data science. They are not designed for practical application in
                                financial, travel, journalistic, or any consequential decision-making domains. Users are
                                strongly advised against utilizing the generated predictions for real-world purposes.
                                The creator assumes no liability for any outcomes resulting from the reliance on or
                                misuse of the provided information. It is imperative for users to exercise discernment
                                and consult appropriate experts or sources before making any significant decisions.
                                These projects are intended solely for academic exploration and do not constitute
                                professional advice or endorsement of any kind.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0">Created By Udit Gagnani</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/scripts.js"></script>
    </body>
</html>